- if @cell_phone.errors.any?
  #error_explanation.alert.alert-danger
    %ul.list-unstyled
      - @cell_phone.errors.full_messages.each do |msg|
        %li= msg

.row
  = form_for(@cell_phone, html: {role: 'form', class: 'col s12'}) do |f|
    .row
      .input-field.col.s12
        = f.telephone_field :number, class: 'validate'
        = f.label :number, 'Mobile Phone Number'

    = f.submit 'Save', class: 'btn light-blue darken-3'
