- if @cell_phone.unverified?
  - if @cell_phone.errors.any?
    #error_explanation.alert.alert-danger
      %ul.list-unstyled
        - @cell_phone.errors.full_messages.each do |msg|
          %li= msg

  = form_tag(verify_cell_phone_path(@cell_phone), class: 'form-inline', role: 'form') do
    .form-group
      = label_tag :verification_code, 'Verification Code', class: 'sr-only'
      = text_field_tag :verification_code, nil, class: 'form-control', maxlength: 5, placeholder: 'Code'
    %p.help-block
      Please use the passcode sent previously via text message to verify
      your phone number.
    .form-group
      = submit_tag 'Verify', class: 'btn btn-primary'
- else
  %p
    = @cell_phone.number
    is verified.

- if @cell_phone.unverified?
  %section
    = link_to 'Resend code', reset_cell_phone_path(@cell_phone), class: 'btn btn-default'
