- if @mobile_phone.errors.any?
  #error_explanation.alert.alert-danger
    %ul.list-unstyled
      - @mobile_phone.errors.full_messages.each do |msg|
        %li= msg

.row
  = form_for([current_user, @mobile_phone], html: {role: 'form', class: 'col s12'}) do |f|
    .row
      .input-field.col.s12.m4
        = f.telephone_field :number, class: 'validate'
        = f.label :number, 'Mobile Phone Number'
    .row
      = f.submit 'Save', class: 'btn light-blue darken-3'
      or
      = link_to 'Cancel', :back
