!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Inquisitor
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %nav{:role => "navigation"}
      .nav-wrapper.container
        = link_to "INQUISITOR", dashboard_path, id: 'logo-container', class: 'brand-logo center'
    .row
      .col.s12.m4.l3.grey.lighten-2
        .side-nav
          %ul
            - if current_user
              %li
                = link_to 'Questions', user_questions_path(current_user)
              - if current_user.mobile_phone
                %li
                  = link_to 'Update Mobile Phone',
                    edit_user_mobile_phone_path(current_user, current_user.mobile_phone)
              - else
                %li
                  = link_to 'Add Mobile Phone', new_user_mobile_phone_path(current_user)
          .user-nav
            %ul
              -if current_user
                %li
                  = link_to edit_user_path(current_user.id) do
                    = image_tag current_user.gravatar_url, size: '30', class: 'gravatar'
                    = current_user.email
                %li.text-align.center
                  %p
                    = link_to "Logout", logout_path

      .col.s12.m8.l9
        = yield
    = javascript_include_tag 'application'

