!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Inquisitor
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
  %body
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "#"} INQUISITOR
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          - if current_user
            %li= link_to current_user.email, edit_user_path(current_user.id)
            %li= link_to "Logout", :logout, method: :post
          - else
            %li= link_to "Register", new_user_path
            %li= link_to "Login", :login
        / Left Nav Section
        %ul.left
          %li
            %a{:href => "#"} Left Nav Button
    %section{role: 'main'}
      .large-3.columns.sidebar
        %ul.side-nav
          %li.heading Actions
          - if current_user
            - if current_user.mobile_phone
              %li
                = link_to edit_mobile_phone_path(current_user.mobile_phone) do
                  %i.fa.fa-mobile 'Update Mobile Phone'
            - else
              %li
                = link_to new_mobile_phone_path do
                  %i.fa.fa-plus 'Add Mobile Phone'
      .large-9.columns
        = yield
    %footer.text-center
      .large-12.columns
        %p
          Made with
          %i.fa.fa-heart.red
          and
          %i.fa.fa-diamond.red
    = javascript_include_tag 'application'

