!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Inquisitor
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .row
      .col.s12.m4.l2.grey.lighten-2.z-depth-3
        .side-nav
          %h5.text-align.center
            = link_to "INQUISITOR", dashboard_path
          %ul
            %li
              = link_to 'Dashboard', dashboard_path
            %li
              = link_to 'Questions', user_questions_path(current_user)
              %ul
                %li
                  + new question
            - if current_user.mobile_phone
              %li
                = link_to 'Update Mobile Phone',
                  edit_user_mobile_phone_path(current_user, current_user.mobile_phone)
            - else
              %li
                = link_to 'Add Mobile Phone', new_user_mobile_phone_path(current_user)
            %li Download Data
          .user-nav
            %ul.text-align.center
              %li
                = link_to current_user.email, edit_user_path(current_user.id)
                / = link_to edit_user_path(current_user.id) do
                /   = image_tag current_user.gravatar_url, size: '30', class: 'gravatar'
                /   = current_user.email
            %hr
            %p
              = link_to "Logout", logout_path

      .col.s12.m8.l10
        = yield
    = javascript_include_tag 'application'

