!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Inquisitor
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %nav.light-blue.lighten-1{role: 'navigation'}
      .nav-wrapper
        %a{id: 'logo-container', class: 'brand-logo', href: "#"}Inquisitor
        %ul.right{id: 'nav-mobile'}
          - if current_user
            %li= link_to current_user.email, edit_user_path(current_user.id)
            %li= link_to "Logout", :logout, method: :post
          - else
            %li= link_to "Register", new_user_path
            %li= link_to "Login", :login
    .row
      .col.s3.l3
        %ul.collection
          %li.collection-item Settings
          %li.collection-item Questions
          %li.collection-item Summary

      .col.s9.l9
        = yield
    = javascript_include_tag 'application'

